.cityitem ul{overflow: hidden;}
.cityitem li{width: 1.25rem;
	height: 0.6rem;
	line-height: 0.6rem;
	text-align: center;
	font-size: 0.15rem;
	float: left;}
.cityitem li.active{background-color: #e7f3f0;}
.cityitem>p{height: 0.25rem;
	line-height: 0.25rem;
	padding-left: 0.15rem;
	font-size: 0.13rem;
	color: #968888;
	border-top: 1px solid #e8e8e8;
	border-bottom: 1px solid #e8e8e8;}

